<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="style.css"> </head>
<body>
<div class="error-container">
    <h1>404</h1>
    <p>Here used to be cool text, but.. </p>
    <p>come on! It's 4 a.m. i loose all creativity!</p>
    <a href="https://drive.google.com/file/d/1QbwQFRSyb-OSRKDcx8e2W9gsAtWWMcWJ/view?usp=sharing" class="home-link">Go back to the homepage</a>
</div>
</body>
</html>